.ui-widget {
    font-size: 15px !important;
    font-family: sans-serif;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}

.linea
{
    display: inline-block;
}
.crearAgenda{
    background: #2dfbd0;
}

.fondoBotones{
    background-color: black;
}

.ui-layout-unit .ui-layout-unit-content {
     background-color: #0563bd;
}

.ui-datatable-odd{
    background:unset;
}

.ui-widget-header{
    background: white;
}

.fondoBody{
    background-color: white;
}