
td.centeredColumnContent{
    text-align: center;
}

td.centeredColumnContentNo{
    text-align: center;
}

td.centeredColumnContentSi{
    text-align: center;
    background-color: lightgreen !important;
}

td.centeredColumnContentReagendada{
    text-align: center;
    background-color: yellow !important;
}

td.centeredColumnContentadministrativo{
    text-align: center;
    
}

.centeredColumnContentjudicial{
    text-align: center;
    background-color: lightgreen;
    color: #4f4f4f;
    text-shadow:none !important;
}

tbody tr:hover  td.centeredColumnContentjudicial{
    text-align: center;
    background-color: darkolivegreen;
    color: white;
    text-shadow:none !important;
}

tbody tr:hover  td.centeredColumnContentsincarpeta{
    text-align: center;
    background-color: salmon !important;
    color: white;
    text-shadow:none !important;
}

tr.ui-datatable-even:hover td.centeredColumnContentadministrativo,
tr.ui-datatable-odd:hover td.centeredColumnContentadministrativo {
    background-color: #1B6BD1 !important;
    color: white !important;
}


td.centeredColumnContentsincarpeta{
    text-align: center;
    background-color: burlywood !important;
}

.ui-datatable .ui-datatable-data tr.ui-state-hover,
.ui-datatable .ui-datatable-data tr.ui-state-active{
    background-color: #2a55aa;
}
.ui-datatable tbody tr.ui-selected td {
    background-color: #123a6d;
}

.ui-datatable tbody tr.ui-state-highlight td.centeredColumnContentjudicial,
.ui-datatable tbody tr.ui-state-highlight td.centeredColumnContentadministrativo,
.ui-datatable tbody tr.ui-state-highlight td.centeredColumnContentsincarpeta {
    background-color: #123a6d !important;
    color: white !important;
}


.ui-datatable tbody tr.ui-state-highlight td {
    background-color: #123a6d;
    color: white;
}


table.dataTable.nowrap td{white-space:nowrap}


.ui-widget {
    font-size: 15px !important;
    font-family: sans-serif;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;

}
.ui-button {
    margin-top: 10px !important;
}

.linea
{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

.crearAgenda{
    background: #2dfbd0;
}

.fondoBotones{
    background-color: black;
}

.ui-layout-unit .ui-layout-unit-content {
    background-color: white;
}

.ui-datatable-odd{
    background:unset;
}

.ui-widget-header{
    background: white;
}

.fondoBody{
    background-color: white;
}

.ui-menu .ui-menuitem-link{
    background-color: #123a6d !important;

}

.ui-widget-content .ui-icon{
    background-color: white !important;
}

.botonEditarAgenda{
    background-color: #00C6AE !important;
    background: #00C6AE !important;
    font-size: 13px !important; 
    color: #FFFFFF !important;
    letter-spacing: 0.93px !important;
    text-shadow:unset !important;
}

.botonCrear{
    background-color: #00C6AE !important;
    background: #00C6AE !important;
    font-size: 15px !important; 
    color: #FFFFFF !important;
    letter-spacing: 0.93px !important;
    text-shadow:unset !important;
}

.botonCrearAgenda{
    background-color: #00C6AE !important;
    background: #00C6AE !important;
    font-size: 13px !important; 
    color: #FFFFFF !important;
    letter-spacing: 0.93px !important;
    text-shadow:unset !important;
} 

.editDialogExpediente{
    width: 77% !important;
    height: 95% !important;
    top: 2% !important;
    z-index: 1005 !important;
    position: absolute;
}

.padre {
    /* IMPORTANTE */
    text-align: center;
}

.hijo {
    padding: 10px;
    margin: 10px;
    /* IMPORTANTE */
    display: inline-block;
}

.hijoParaClaves {
    padding: 10px;
    margin: 2px;
    /* IMPORTANTE */
    display: inline-block;
}

.ui-menu .ui-menuitem-link{
    background-color: #9db7e8 !important;
}

.crearExpediente{
    width: 90% !important;
    height: 90% !important;
    left: 5% !important;
    top: 2% !important;
    z-index: 1005 !important;
    position: absolute;
}

.verExpediente{
    width: 90% !important;
    height: 90% !important;
    top: 2% !important;
    z-index: 1005 !important;
    position: absolute;
}

.crearExpedienteJudicial{
    width: 85% !important;
    height: 95% !important;
    left: 5% !important;
    top: 5% !important;
    z-index: 1005 !important;
    position: absolute;
}
.editarExpedienteJudicial{
    width: 85% !important;
    height: 95% !important;
    left: 5% !important;
    top: 5% !important;
    z-index: 1005 !important;
    position: absolute;
}

.ui-layout-unit-content .ui-widget-content{
    background-color: white;
}

.ui-menu .ui-menuitem-link{
    background-color: #123a6d !important;
}

#fechaDeAtencion{
    width: 100px !important;
}

.inputFechaDeAtencion{
    width: 100px !important;
}


div.ui-layout-unit-content {
    background-color: #123a6d !important;

}


.ui-datatable .ui-column-filter{
    width: 80% !important;
}

div[id="AgendaListForm:datalist"] thead {
    display:none;
}

.ui-button-text-only .ui-button-text {
    text-shadow: none !important;
}

.ui-buttonset .ui-button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2%;
    background: #32b9a9;
}

.ui-datatable thead th,
.ui-datatable tbody td,
.ui-datatable tfoot td {
    padding:4px 10px;
    overflow:hidden;
    border-width:1px;
    border-style:solid none solid none !important; /*Lineas tabala*/
}

#TurnoListForm\:datalist\ {
    margin-bottom: 10% !important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
 background:#c8b363 !important;
 border:none;
 color:#000000 !important;
}


.ui-datepicker .ui-datepicker-header {
 background:#a69753 !important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-hover{
    background: #716536 !important;
    color: white !important;
}

.ui-widget-header{color:black !important;}

.ui-datepicker-days-cell-over  .ui-datepicker-today{
    color: white !important;
}

.ui-fieldset-toggleable .ui-fieldset-legend {
    background: #4fb2e1 !important; 
    color: white !important;
    text-shadow: none !important;
}

.ui-fieldset-toggleable .ui-fieldset-legend:hover{
    background-color: #2a55aa !important;
}   

.ui-fieldset .ui-fieldset-toggler {
 padding-right:0em !important; 
 margin-top:0em !important; 
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
 color:white !important;
 background: #3485ac !important;
 text-shadow: none !important;
}

.ui-draggable .ui-dialog-titlebar {
    cursor:move;
    background: #2a55aa !important;
    color: white !important;
    text-shadow: none !important;
}

.ui-dialog .ui-dialog-titlebar {
    background: #2a55aa !important;
    color: white !important;
    text-shadow: none !important;
} 

:focus {
    outline: none !important;
}
