.ui-widget {
    font-size: 15px !important;
    font-family: sans-serif;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}

.linea
{
    display: inline-block;
}
.crearAgenda{
    background: #2dfbd0;
}

.fondoBotones{
    background-color: black;
}

.ui-layout-unit .ui-layout-unit-content {
     background-color: white;
}

.ui-datatable-odd{
    background:unset;
}

.ui-widget-header{
    background: white;
}

.fondoBody{
    background-color: white;
}

.ui-menu .ui-menuitem-link{
     background-color: #2A55AA !important;
        height:30px !important;

}

.ui-widget-content .ui-icon{
    background-color: white !important;
}

.botonEditarAgenda{
    background-color: #00C6AE !important;
    background: #00C6AE !important;
    font-size: 13px !important; 
    color: #FFFFFF !important;
    letter-spacing: 0.93px !important;
    text-shadow:unset !important;
}

.botonCrear{
    background-color: #00C6AE !important;
    background: #00C6AE !important;
    font-size: 15px !important; 
    color: #FFFFFF !important;
    letter-spacing: 0.93px !important;
    text-shadow:unset !important;
}

.botonCrearAgenda{
    background-color: #00C6AE !important;
    background: #00C6AE !important;
    font-size: 13px !important; 
    color: #FFFFFF !important;
    letter-spacing: 0.93px !important;
    text-shadow:unset !important;
} 

 .editDialogExpediente{
   
      width: 90% !important;
    height: 90% !important;
    top: 2% !important;
    z-index: 1005 !important;
    position: absolute;

     
 }
 
 
.padre {
  /* IMPORTANTE */
  text-align: center;
}

.hijo {
  padding: 10px;
  margin: 10px;
  
  /* IMPORTANTE */
  display: inline-block;
}

.hijoParaClaves {
  padding: 10px;
  margin: 2px;
  
  /* IMPORTANTE */
  display: inline-block;
}

.ui-menu .ui-menuitem-link{
    background-color: #9db7e8 !important;
}


.crearExpediente{
    width: 90% !important;
    height: 90% !important;
    left: 5% !important;
    top: 2% !important;
    z-index: 1005 !important;
    position: absolute;

}

.verExpediente{
    width: 90% !important;
    height: 90% !important;
    top: 2% !important;
    z-index: 1005 !important;
    position: absolute;

}


.crearExpedienteJudicial{
    width: 70% !important;
    height: 70% !important;
    left: 10% !important;
    top: 5% !important;
    z-index: 1005 !important;
    position: absolute;

}
.editarExpedienteJudicial{
    width: 75% !important;
    height: 75% !important;
    left: 5% !important;
    top: 5% !important;
    z-index: 1005 !important;
    position: absolute;

}

.ui-layout-unit-content .ui-widget-content{
    background-color: white;
}

.ui-menu .ui-menuitem-link{
    background-color: #2A55AA !important;
}

#fechaDeAtencion{
    width: 100px !important;
}


.inputFechaDeAtencion{
        width: 100px !important;

}

td.centeredColumnContent{
    text-align: center;
}

div.ui-layout-unit-content {
        background-color: #2A55AA !important;

}